@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Borel&family=Condiment&display=swap');

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: system-ui, sans-serif;
  background: #ffffff;
  scroll-behavior: smooth;
  font-size: 16px;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: fit-content;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.grid_Container {
  padding-bottom: 2px;
  border: 2px solid #9ca3af;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.grid_Container:hover {
  border-top-color: transparent;
  border-right-color: transparent;
}

.grid_Container::before,
.grid_Container::after {
  content: '';
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.grid_Container::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(65, 105, 225);
  background: linear-gradient(
    159deg,
    rgba(65, 105, 225, 1) 0%,
    rgba(137, 207, 240, 1) 100%
  );
  transform: scaleX(0);
  transform-origin: left center;
}

.grid_Container::after {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: rgb(65, 105, 225);
  background: linear-gradient(
    159deg,
    rgba(137, 207, 240, 1) 0%,
    rgba(65, 105, 225, 1) 100%
  );
  transform: scaleY(0);
  transform-origin: bottom center;
}

.grid_Container:hover::before {
  transform: scaleX(1);
}

.grid_Container:hover::after {
  transform: scaleY(1);
}

.grid-text {
  color: #0066ff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.grid-subText {
  color: #374151;
  font-size: 17px;
}

.text-Section {
  padding: 10px;
}
.project-num {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
.project-content-text {
  text-align: left;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}
.section-title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 0.5rem;
  color: #16a34a;
}

.contact-section {
  background:
    radial-gradient(circle, rgba(255, 255, 255, 0.3) 2px, transparent 2px),
    /* Dots */
      linear-gradient(
        to top,
        rgb(5, 64, 255),
        rgb(0, 135, 254),
        rgb(83, 222, 255)
      ); /* Your original gradient */
  background-size: 2px 2px; /* Adjust dot spacing here */
  position: relative;
  overflow: hidden;
  transition:
    background-size 0.3s ease,
    filter 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
